@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800'); 
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 1110px;
    margin: 0 auto;
}

/* Оформление header */
/* .logo, .navi_menu, .navi, header {
    font-size: 0px; */
/* } */
.logo {
    float: left; 
    /* padding-left: 30px;
    padding-top: 35px;  */
    font-size: 30px; color: #555252;
    font-weight: 300;    
    line-height: 32px;
    font-family: 'Roboto';
    text-decoration: none;
    text-transform: uppercase;

}


.logo::first-letter{
    font-weight: 800;
}
.logo:hover::first-letter {
    
    color: #1abc9c;

}
.navi {
    float: right;
    list-style: none;
    width: 550px;
    margin: 0 auto;
}

.navi_item  {
    float: left;
    /* padding-top: 45px; */
     padding-right: 35px; /*без этого меню слипнется */
    font-size: 14px;
    line-height: 11px; 
    font-family: 'Open Sans'; color: #0f0101;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    
}
header {
    padding-top: 30px;
    padding-bottom: 110px;
   
}
 .hov:hover {
    color: #1abc9c;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Оформление main */

             /* FEATURED PRODUCTS */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
article, ul, li, p {
    font-size: 0px;
}

.title {
    font-size: 48px;
    font-family: 'Roboto';
    color: #515151;
    font-weight: 800;
    padding: 0px 305px 0px 305px;
    text-transform: uppercase;
    text-align: center;
     
}
.title::after {
    display: block;
    content: '';
    width: 170px;
    height: 7px;
    background-color: #1abc9c;   
    margin: 30px 0px 90px 150px ;    

}


.item_name a {    
    width: 200px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 800;
    padding-left: 10px;
}
.price a {
    font-size: 18px;  
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
    text-transform: uppercase;
    padding-top: 10px;
    color: #ffffff;
    padding-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: 800;  

   
}
.box {
    float: left;
    margin-right: 30px;
    width: 255px;
    
}
 .box:nth-child(5) {
    margin-right: 0px;
    margin-bottom: 30px;
}
.box:nth-child(9) {
    margin-right: 0px; 
}


.item_name, .price, a {
    display: inline-block;
}

.box:hover .item_name a  {
    background-color: #1abc9c;
}
.box:hover .price a {
    background-color: #7fd9c7;
    
}
.goods {
    padding-bottom: 110px;
}
                /* LATEST NEWS */
.news {
    float: left;
    margin-right: 20px;
    /* margin-bottom: 10px; */
    width: 350px;

}
/* .news:nth-child(1) {
    margin-left: 30px; 
} */
/* .news:nth-child(1) {
    margin-right: 0px;
} */
.news_text_main {
    font-size: 18px;
    font-family: 'Open Sans'; 
    color: #555252;
    font-weight: 600;
    margin-bottom: 16px;

}
.news_text {
    font-size: 14px;
    font-family: 'Open Sans'; 
    color: #555252;
    font-weight: 400;
}
.news_text_main::after {
    display: block;
    content: '';
    width: 136px;
    height: 4px; 
    margin-top: 10px;   
    margin-bottom: 34px;
    background-color: #4ec6ab;

}
.news a {
    width: 161px;
    height: 53px;
    border-radius: 4px;
    background-color: #4ec6ab;
    /* margin-bottom: 30px; */
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;

}
.news_bord {
    padding-bottom: 30px;
}