@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.base-container {    
    width: 1200px;
    margin: 0 auto;
}
                /* HEADER */
.header-box{
    background-image: url(../img/navi_img.jpg.png);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;   
    padding-bottom: 130px;
}
.header__navigation-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    min-height: 50px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    
}
.header__navigation-box__menu__list a {
    display: block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase; 
     
    
}
.header__navigation-box__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    min-width: 490px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding: 0;

}


.header__navigation-box__menu a:hover {
    color: #fce38a;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear; 
    
}

.header__menu__title::after{
    position: absolute;
    display: none;
    content: '';
    width: 50px;    
    height: 3px;
    background-color: #fce38a;
    margin-top: 10px;
    
    
}
.header__menu__title:hover::after {
    display: block;
    -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
      
    
}
.header__subtitle {
    font-family: "Kaushan Script", sans-serif;
    font-size: 72px;
    line-height: 86px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
}
.header__title {
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.header__btn--centre {
    text-align: center;
}
.header__btn {   
    border: solid 3px #ffffff;
    background-color: #f0cc88;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    width: 155px;
    height: 35px;
    

}

/* SERVESIS */
.servis__subtitle {
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #333333;    
}
.servis__title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.servis__list__title__low {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

.servis__list__text__servis {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;    
}
.servis__title--centre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-align: center;    
        -ms-flex-align: center;    
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.servis__title::after {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: auto;
    margin-top: 43px;        
}
            /* Amazing Services */
.servis__list li {
    list-style: none;
    
}
.servis__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 65px;
    padding-left: 0;
}
.servis__list li {
    width: 330px;
    padding-left: 60px;
    
}
.servis__list__alarm {
    background-image: url(../icon/ALARM.png);
    background-repeat: no-repeat; 
      
}
.servis__list__line__graph {
    background-image: url(../icon/LINE_GRAPH.png);
    background-repeat: no-repeat;
}
.servis__list__computer {
    background-image: url(../icon/COMPUTER.png);
    background-repeat: no-repeat;
}
.servis__list__book {
    background-image: url(../icon/BOOK.png);
    background-repeat: no-repeat;
}
.servis__list__home {
    background-image: url(../icon/HOME.png);
    background-repeat: no-repeat;
}
.servis__list__image {
    background-image: url(../icon/IMAGE.png);
    background-repeat: no-repeat;
}
.servis__list li:nth-child(-n+3) {
    margin-bottom: 100px;
}
                /* Meet our team__box */
.team__box {
    padding-top: 95px;
}
.team__title--centre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-align: center;    
        -ms-flex-align: center;    
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.team__subtitle {
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #333333;    
}
.team__title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.team__title::after {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: auto;
    margin-top: 43px;        
}
.team__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    width: 960px;
    margin: auto; 
    padding-top: 45px;   
}
.team__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 95px;
    list-style: none;    
}
.team__card-box__title__low {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}
.team__card-box__team__stuff {
    font-family: 'Roboto ', sans-serif;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    font-weight: 200;
    color: #999999;
    padding-top: 15px;
}
.team__card-box--centre-card {
    text-align: center;    
}
.team__card img {
    padding-bottom: 27px;
}


.team__card-box {
    position: relative;
}
.team__card-box__box_item {
    display: none;    
    position: absolute;
    top: 37%;
    left: 23%;
    width: 225px;
    z-index: 2;
}
.team__card-box__box_item__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 230px;    
    list-style: none;
    margin: 0 ;
    padding: 0;
}
.team__card-box__box_item__list__item button{
    border: none;
}
.team__card-box__box_item__list__item__icon  {    
    background-color: #fce38a;
    width: 55px;
    height: 55px;    
    
}
.team__card-box__box_item__list__item__icon a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55px;
    height: 55px;    
    
    
}
.team__card-box__svg--color {
    display: inline-block;    
    fill: #f38181;
}
.team__card-box__svg-facebook {
    width: 16px;
    height: 32px;
}  
.team__card-box__svg-twitter {
    width: 38x;
    height: 32px;
}  
.team__card-box__svg-pinterest {
    width: 26x;
    height: 32px;
}
.team__card-box__svg-intagram {
    width: 32x;
    height: 32px;
}
.team__card-box__box_item__list__item__icon a:hover .team__card-box__svg--color {
    fill: #ffffff;

}
.team__card-box__box_item__list__item__icon a:hover  {
    background-color: #f38181;
}
.team__card-box__magic {
    opacity: 0;  
    position: absolute;
    top: 0%;
    background-image: -webkit-gradient( linear,left top, left bottom,from(rgba(243, 129, 129, 0.9)),to(rgba(252, 227, 138, 0.9)) );
    background-image: -webkit-linear-gradient( rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9) );
    background-image: -o-linear-gradient( rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9) );
    background-image: linear-gradient( rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9) );
    width: 380px;
    height: 470px;
    /* box-shadow: 10px 10px 5px 0px rgb(149,225,211); */
    z-index: 1;
    
       
         
}

.team__card-box__magic-box:hover .team__card-box__magic {    
    opacity: 1;
    top: -10px;
    right:  10px;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(149,225,211);
            box-shadow: 10px 10px 5px 0px rgb(149,225,211);
    
   
}
.team__card-box__magic-box:hover .team__card-box__box_item {    
    display: block;
          
}
            /* FOOTER */

.footer__box {
    padding-top: 110px;
    padding-bottom: 30px; 
}
.footer__box__footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__box__input__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    widows: 395px;
    height: 40px;
}
.footer__box__btn {
    border: none;
    width: 150px;
    height: 40px;
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #ffffff;
    background-color: #95e1d3;
    padding: 0;

}
.footer__box__input__box {
    width: 230px;
    height: 36px;
    border: solid 1px grey;
}
.footer__box__rights-title--red {
    color: #f38181;
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
.footer__box__rights-title {
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;

}

